body div{
    background-color: aqua;
}
table{
    width: 100%;
    font-size: 20px;
}
#container{
    width: 100%;
    /*height: 83%*/
}
#header{
    height: 90px;
    border: 1px solid;
    text-align: center
}
#menu{
    height: 100%;
    width: 15%;
    float:left;
    border: 1px solid
}
#content{
    height: 100%;
    width: 84.6%;
    float:left;
    border: 1px solid
}
#footer{
    border: 1px solid;
    clear:both;
    text-align: center
}
.btnDesign{
    width: 100%;
    height: 50px;
    border: 1px solid;
    margin-bottom: 5px;
    cursor: pointer;
}